:root {
  --primary: #96E6C9;
}

.hero {
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero .navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  padding: 3px 52px 0px 31px;
  background: linear-gradient(to bottom, rgba(99, 101, 99, 0.667) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 0.5px solid rgb(255, 255, 255);
  border-radius: 0px 0px 20px 20px;
}
.hero .navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}
.hero .navbar .container-fluid ul {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
}
.hero .navbar .container-fluid ul li {
  list-style-type: none;
  text-decoration: none;
}
.hero .navbar .container-fluid ul li a {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}
.hero .box {
  padding-top: 140px;
  padding-left: 40px;
}
.hero .box p:nth-child(1) {
  font-size: 13px;
  font-weight: bold;
  font-family: "Mukta", sans-serif;
}
.hero .box p {
  font-family: "Mukta", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 16px;
}
.hero .box h1 {
  margin-top: 2px;
  margin-bottom: 8px;
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 6px;
  line-height: 60px;
}
.hero .box .tombol {
  margin-top: 21px;
  display: flex;
  gap: 35px;
}
.hero .box .tombol .btn-dftr {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  padding: 17px 25px;
  border-radius: 15px;
}
.hero .box .tombol .btn-tntg {
  border: 3px solid white;
  color: white;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  padding: 17px 25px;
  border-radius: 15px;
}
.hero .lengkung {
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: -45px;
}
@media (max-width: 700px) {
  .hero .lengkung {
    width: 100vw;
  }
}

.about {
  background-image: url("../img/bg-about.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 52px 58px 50px 78px;
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.about .container .text {
  margin-left: 0px;
}
.about .container .text h1 {
  margin-top: 40px;
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 50px;
}
.about .container .text p {
  font-family: "Mukta", sans-serif;
  color: white;
  margin-top: 29px;
  font-weight: 300;
  font-size: 16px;
}

.program {
  padding-top: 124px;
  background-image: url(../img/bg-program.svg);
  background-size: cover;
}
.program .judul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.program .judul .hr {
  width: 300px;
  height: 2px;
  background-color: #E3E3E3;
}
.program .judul h1 {
  font-family: "Barlow", sans-serif;
  color: #726C6C;
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 7px;
}
.program .gambar {
  padding-left: 27px;
  display: flex;
  justify-content: center;
}
.program .gambar .kartu {
  margin-top: 70px;
}
.program .gambar .kartuh {
  margin-top: 220px;
}
.program .gambar .kartuhh {
  margin-top: 480px;
  margin-bottom: 170px;
}

.ekskul {
  background-color: #FFFAE0;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
  font-family: "Barlow", sans-serif;
}
.ekskul .hijau {
  width: 100%;
  border-radius: 0px 0px 40px 40px;
  background-color: #B9EEDB;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
}
.ekskul .hijau .hr {
  width: 280px;
  height: 2px;
  background-color: #FAFAFA;
}
.ekskul .hijau h1 {
  font-family: "Barlow", sans-serif;
  color: #FAFAFA;
  text-shadow: 6px 6px 11px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 7px;
  padding: 22px;
  background-color: rgba(238, 238, 238, 0.5333333333);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 20px;
  margin-left: 18px;
  margin-right: 18px;
}
.ekskul .atas {
  display: flex;
  margin-bottom: 176px;
  justify-content: space-around;
}
.ekskul .atas .kotak {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0px 0px 7px 1px rgba(193, 193, 193, 0.25);
  border-radius: 20px;
  width: 450px;
  height: 251px;
}
.ekskul .atas .kotak .image {
  width: 100%;
  margin-top: -160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ekskul .atas .kotak h3 {
  align-items: start;
  margin: 0;
  color: #6B7172;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 42px;
}
.ekskul .atas .kotak .bawah {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ekskul .atas .kotak .bawah p {
  color: #433F3E;
  font-weight: 600;
}
.ekskul .atas .kotak .bawah a {
  margin-top: -20px;
  font-style: italic;
  color: #15B097;
}
.ekskul .bawah {
  display: flex;
  justify-content: space-around;
}
.ekskul .bawah .kotak {
  background-color: white;
  box-shadow: 0px 0px 7px 1px rgba(193, 193, 193, 0.25);
  border-radius: 20px;
  width: 350px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ekskul .bawah .kotak .image {
  width: 100%;
  margin-top: -160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ekskul .bawah .kotak h3 {
  align-items: start;
  margin: 0;
  color: #6B7172;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}
.ekskul .bawah .kotak .bawah {
  display: flex;
  align-items: center;
}
.ekskul .bawah .kotak .bawah p {
  color: #433F3E;
  font-weight: 600;
}
.ekskul .ftr {
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  color: #30CA92;
  width: 100%;
  background: linear-gradient(to bottom, #FFFAE0, rgba(171, 170, 170, 0.5019607843));
  padding-bottom: 20px;
  border-radius: 0px 0px 40px 40px;
}

.profile {
  margin-bottom: 50px;
}
.profile .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  margin-bottom: 110px;
}
.profile .judul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  background-color: white;
}
.profile .judul .hr {
  width: 280px;
  height: 3px;
  background-color: rgba(227, 227, 227, 0.3529411765);
}
.profile .judul h1 {
  font-family: "Barlow", sans-serif;
  color: #898483;
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 10px;
  padding: 22px;
  background-color: rgba(227, 227, 227, 0.2);
  box-shadow: 0px 0px 10px -1px rgba(82, 80, 80, 0.25);
  border-radius: 20px;
  margin-left: 18px;
  margin-right: 18px;
}
.profile .container {
  background-color: #50D5A5;
  padding: 54px 67px;
  box-shadow: 0px 0px 7px 5px rgba(142, 142, 142, 0.409);
  border-radius: 25px;
}
.profile .container .baris {
  display: flex;
}
.profile .container .baris .video-container iframe {
  border-radius: 20px;
}
.profile .container .baris .text-container {
  font-family: "Barlow", sans-serif;
}
.profile .container .baris .text-container h1 {
  color: white;
  font-family: 600;
  font-size: 45px;
  line-height: 56px;
}
.profile .container .baris .text-container .kotak {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.profile .container .baris .text-container .kotak .teks {
  color: white;
  margin-top: 17px;
}
.profile .container .baris .text-container .kotak .teks h4 {
  font-weight: 600;
}

.aiis {
  height: 650px;
  margin-top: 140px;
  padding-top: 41px;
  background-image: url("../img/bg-aiis.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.aiis h1 {
  color: white;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  letter-spacing: 7px;
  font-size: 50px;
  margin-bottom: 30px;
}
.aiis p {
  max-width: 100%;
  width: 850px;
  margin-bottom: 90px;
  color: white;
  font-weight: 300;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  text-align: center;
}
.aiis .nomer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Barlow", sans-serif;
}
.aiis .nomer .kartu {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aiis .nomer .kartu h4 {
  font-size: 50px;
  color: white;
}
.aiis .nomer .kartu .garis {
  background-color: #FFEB85;
  height: 3px;
  width: 100px;
}

.pendaftaran {
  margin-top: -150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pendaftaran .kartu {
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #DCF7ED;
  width: 350px;
  height: 470px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
}
.pendaftaran .kartu .tmbl {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.pendaftaran .kartu .tmbl p {
  margin-top: 15px;
  font-weight: 600;
  color: #726C6C;
  font-size: 20px;
}
.pendaftaran .kartu h1 {
  color: #6C5B00;
  font-size: 30px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pendaftaran .kartu .slngkp {
  margin-top: 10px;
  font-style: italic;
  color: #FF9398;
  margin-bottom: 45px;
}
.pendaftaran .kartu1 {
  position: relative;
  z-index: 2;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid #d9dcdb;
  background-color: #DCF7ED;
  width: 350px;
  height: 550px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
}
.pendaftaran .kartu1 .tmbl {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.pendaftaran .kartu1 .tmbl p {
  margin-top: 15px;
  font-weight: 600;
  color: #726C6C;
  font-size: 20px;
}
.pendaftaran .kartu1 h1 {
  color: #6C5B00;
  font-size: 30px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}
.pendaftaran .kartu1 .slngkp {
  margin-top: 20px;
  font-style: italic;
  color: #FF9398;
  margin-bottom: 45px;
}

.lokasi .pembngks {
  display: flex;
  justify-content: center;
  gap: 110px;
  font-family: "Barlow", sans-serif;
}
.lokasi .pembngks .yt {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.25);
}
.lokasi .pembngks .alamat .putra {
  margin-top: 10px;
  margin-bottom: 50px;
}
.lokasi .pembngks .alamat .putra h2 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #FF2631;
}
.lokasi .pembngks .alamat .putra p {
  color: #666666;
}
.lokasi .pembngks .alamat .putri {
  margin-bottom: 50px;
}
.lokasi .pembngks .alamat .putri h2 {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #FF2631;
}
.lokasi .pembngks .alamat .putri p {
  color: #666666;
}
.lokasi .pembngks .alamat .brosur {
  background-color: #FF9398;
  box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 16px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

footer {
  background-color: #E3E3E3;
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 25px;
}
footer .sosmed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 220px;
  margin-bottom: 40px;
}
footer .sosmed .kartu {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .sosmed .kartu p {
  margin: 0;
  color: #433F3E;
  font-weight: 600;
  font-family: "Mukta", sans-serif;
}
footer .tengah {
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
}
footer .tengah .logo p {
  margin-top: 10px;
  color: #726C6C;
  font-weight: 300;
  font-family: "Mukta", sans-serif;
  width: 350px;
  font-size: 13px;
}
footer .tengah .hr {
  width: 1px;
  height: 200px;
  background-color: #CCCBCB;
}
footer .tengah .quick h3 {
  color: #726C6C;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}
footer .tengah .quick .tulisan {
  display: flex;
  gap: 30px;
}
footer .tengah .quick .tulisan .teks {
  color: #726C6C;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
}
footer .tengah .contact h3 {
  color: #726C6C;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}
footer .tengah .contact .teks {
  color: #726C6C;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
}
footer .hra {
  display: flex;
  justify-content: center;
}
footer .hra hr {
  width: 90%;
  background-color: #CCCBCB;
}
footer .cprght {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
footer .cprght .iya {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .cprght .iya p {
  color: #999999;
  font-family: "Mukta", sans-serif;
}/*# sourceMappingURL=style.css.map */